@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --font:'Kumbh Sans', sans-serif;
    --sub-heading: hsl(26, 100%, 55%);
    --info-1:hsl(219, 9%, 45%);
    --info-2:hsl(219, 9%, 45%);
    --info-3: hsl(223, 64%, 98%);
    --info-4:hsl(220, 14%, 75%);
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#root{
    font-family: var(--font);
}

nav{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 1rem;
    position: relative;
}


nav img{
    margin:0 .5rem;
}

.cart{
    margin-left: auto;
    position: relative;
}

.cart span{
    text-align: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    height: 1rem;
    width: 1rem;
    font-size: 12px;
    font-weight: 700;
    top: -35%;
    right: 14%;
    background: var(--sub-heading);
    border-radius: 10px;
    color: white;
}

.cart-icon{
    margin-left: auto;
}

.user-icon{
    height: 2rem;
    width: 2rem;

}

.menu-icon{
    cursor: pointer;
}

.menu{
    z-index: 2;
    background: hsl(0,0%,0%, 0.3);
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
}

.main-menu{
    width: 60%;
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-menu li{
    list-style-type: none;
}

.close-icon{
    height: 20px;
    margin: 2rem 0 3rem 1.9rem;
    cursor: pointer;
}

.navlinks{
    font-weight: 700;
    font-size: 23px;
    margin: 1rem 2rem;
    cursor: pointer;
}

.gallery{
    display: flex;
    position: relative;
}

.gallery img{
    width: 100%;
}

.gallery button{
    height:3rem;
    width: 3rem;
    border-radius: 100px;
    z-index: 1;
    border: none;
    background: white;
    text-align: center;
    cursor: pointer;
}

#prev-btn{
    position: absolute;
    top: 50%;
    left: 3%;
}

#next-btn{
    position: absolute;
    top: 50%;
    right: 3%;
}

.gallery button img{
    height: 1rem;
    width: 1rem;
}

.product-info{
    margin: 2rem 0;
}

.product-info h1{
    color: var(--sub-heading);
    margin: 0.5rem 2rem;
    font-size: 20px;
}

.product-info h2{
    margin: 0.5rem 2rem;
    font-size: 30px;
}

.product-info p{
    margin: 0.5rem 2rem;
    color: var(--info-2);
    font-size: 18px;
    line-height:2rem;
}

.add-item{
    text-align: center;
}

.item-counter{
    margin: 1rem auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 243, 243);
    width: 75%;
}

.item-counter button{
    height: 3rem;
    width: 2rem;
    margin: 0 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.item-counter p{
    font-weight: bolder;
    font-size: 20px
}

.item-counter button img{
    align-self: center;
}

.add-to-cart{
    padding: 0.5rem 2rem;
    background: var(--sub-heading);
    border-radius: 10px;
    margin: 1rem auto;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.prices{
    margin: 0 3rem;
    display: flex;
    width: 80%;
}

.prices .selling{
    display: inline-block;
}

.prices .discount{
    font-size: 15px;
    margin: 0 0.5rem;
    background: hsl(25, 100%, 94%);
    color: var(--sub-heading);
    padding: 0.2rem;
    border-radius: 5px;
}

.prices .original-price{
    display: inline-block;
    font-size: 17px;
    margin-left: 10rem;
    text-decoration: 2px solid line-through;
    color: var(--info-1);
}

